public/app/login/login.jade
//- Home Page
doctype html
html(lang="en")
    include /public/app/includes/header.jade
    include /public/app/includes/nav.jade

    div(class='page-content container-fluid' ui-view='content')
        div(class='responsive' ng-controller='coreCtrl')
            h1 Please Sign In

            form(class='login-form')
                div(class='form-group')
                    label() Username
                        input(type='text' class='form-control' placeholder='Username')

                div(class='form-group')
                    label() Password
                        input(type='text' class='form-control' placeholder='Password')

                div(class='form-group')
                    div(class='checkbox')
                        input(type='checkbox')
                        label Remember Me


                button(type='submit' class='btn btn-success submit') Submit

public/html/login.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Digital Ocean API Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/vendor.bundle.js"></script>
    <script src="/assets/js/app.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.bundle.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.bundle.css">
  </head>
  <body ng-app="core">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#nav-container" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="http://localhost" class="navbar-brand">Cloud Computing Managment Dashboard</a>
        </div>
        <div id="nav-container" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/register.html">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
  <div ui-view="content" class="page-content container-fluid">
    <div ng-controller="coreCtrl" class="responsive">
      <h1>Please Sign In</h1>
      <form class="login-form">
        <div class="form-group">
          <label>Username
            <input type="text" placeholder="Username" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <label>Password
            <input type="text" placeholder="Password" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <div class="checkbox">
            <input type="checkbox">
            <label>Remember Me</label>
          </div>
        </div>
        <button type="submit" class="btn btn-success submit">Submit</button>
      </form>
    </div>
  </div>
</html>
