public/app/core/index.jade
//- Home Page
doctype html
html(lang="en")
   include /public/app/includes/header.jade
   include /public/app/includes/nav.jade

   div(class='page-content container-fluid' ui-view='content')
       div(class='responsive' ng-controller='coreCtrl')
            h1 Welcome Guest!

            a(ng-href='/login.html')
                button(class='btn btn-primary' ) Log In

            a(ng-href='/register.html')
                button(class='btn btn-success' ng-href='/register.html' ) Register

public/html/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Digital Ocean API Controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/assets/js/vendor.bundle.js"></script>
    <script src="/assets/js/app.bundle.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/vendor.bundle.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/app.bundle.css">
  </head>
  <body ng-app="core">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#nav-container" class="navbar-toggle collapsed"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="http://localhost" class="navbar-brand">Cloud Computing Managment Dashboard</a>
        </div>
        <div id="nav-container" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/index.html">Home</a></li>
            <li><a href="/login.html">Login</a></li>
            <li><a href="/register.html">Register</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </body>
  <div ui-view="content" class="page-content container-fluid">
    <div ng-controller="coreCtrl" class="responsive">
      <h1>Welcome Guest!</h1><a ng-href="/login.html">
        <button class="btn btn-primary">Log In</button></a><a ng-href="/register.html">
        <button ng-href="/register.html" class="btn btn-success">Register</button></a>
    </div>
  </div>
</html>
